albumentations==0.4.3
clip.egg==info
einops==0.3.0
imageio==2.9.0
kornia==0.7.3
nibabel==5.3.2
numpy==1.24.4
omegaconf==2.1.1
opencv_python==4.1.2.30
opencv_python_headless==4.10.0.84
pandas==2.0.3
Pillow==11.1.0
pytorch_lightning==1.4.2
scikit_learn==1.3.2
scipy==1.9.1
timm==0.9.12
torch==2.4.1
torch_fidelity==0.3.0
torchvision==0.8.1
tqdm==4.67.1
transformers==4.3.1
xformers==0.0.28.post1
